<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

        <!-- Individual joint. -->
        <xacro:macro name="joint_ros2_control" params="
                name 
                p:=10
                d:=0.5
                initial_position:=0.0
                pos_min:=-3.14
                pos_max:=3.14
                vel_min:=-3.14
                vel_max:=3.14">
                <joint name="${name}">
                        <command_interface name="position">
                                <param name="min">${pos_min}</param>
                                <param name="max">${pos_max}</param>
                        </command_interface>
                        <command_interface name="velocity">
                                <param name="min">${vel_min}</param>
                                <param name="max">${vel_max}</param>
                        </command_interface>
                        <param name="p">${p}</param>
                        <param name="d">${d}</param>
                        <state_interface name="position">
                                <param name="initial_value">${initial_position}</param>
                        </state_interface>
                        <state_interface name="velocity"/>
                        <state_interface name="effort"/>
                </joint>
        </xacro:macro>

</robot>